<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Database.Connection" type="DataUtil.ConnectionSettingSection, DataUtil" allowLocation="true"  allowDefinition="Everywhere"/>
  </configSections>
  
  <Database.Connection  TNS="mytns"
                        User="myuser"
                        Password="mypassword"
                        MaxPoolSize="100"
                        MinPoolSize="20">
    <InitialStatements/>
  </Database.Connection>
</configuration>